@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background: #d7d7d7;
  background-image: linear-gradient(110deg, #d7d7d7 50%, #000 50%);
  background-repeat: no-repeat;
}

/* mobile responsiveness */
@media screen and (max-width :900px) {
    .topnav .links.active {
        display: flex !important;
        flex-basis: 28%;
        position: fixed;
        top: -16px;
        right: -21px;
        width: 220px;
        height: 90%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column !important;
        background-color: #fff;
        border-radius: 25px;
    }
    .topnav .links {
        display: none !important;
    }
    .topnav .links a {
        color: #000 !important;
    } 
    .hamburgerMenu {
        display: flex !important;
        justify-content: center;
        
    }
    .hamburgerMenu .active {
        flex-direction: column;
        left: -14%;
    }
}
@media screen and (max-width :400px) {
      body {
        height: 98vh;
        background-size: 70vh;
      }
      div.hero p.bigger {
        font-size: 30px;
      }
      div.hero p.smaller {
        font-size: 15px;
      }
      div.hero span {
        font-size: 10px;
      }
      div.heroText {
        margin-left: 2%;
      }
      div.heroImage img {
        width: 300px;
        height: 550px;
      }
      .topnav .links.active {
        right: 10%;
        align-items: baseline;
        width: 130px;
    }
    div.hamburgerMenu.active {
        left: -40%;
    }
}

/* navbar */

.hamburgerMenu {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url('./Assets/hamburger_menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    left: 30%;
    flex-basis: 35%;
}
.hamburgerMenu.active {
    background: url('./Assets/X.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    left: -14%;
}

.topnav {
  display: flex;
  flex-direction: row;
}
.topnav .favicon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-basis: 65%;
}
.topnav .favicon img {
    margin-left: 7%;
}
.topnav .links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 35%;
}
.topnav .links a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.topnav .links a:hover {
  background: #ffffff;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: #000
}

/* hero */

.hero {
  display: flex;
  flex-direction: row;
  margin-right: 7%;
}

.hero p.bigger {
  font-weight: 700;
  font-size: 50px;
}
.hero p.smaller {
  font-weight: 700;
  font-size: 30px;
}
.hero span {
  color: gray;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 65%;
  align-items: flex-start;
  margin-left: 7%;
}
.heroImage {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.heroImage img {
  position:relative;
  top:80%;
  opacity:0;
  animation:load_up 2s forwards;
}
@keyframes load_up{
  from{opacity:0;top:100%}
  to{opacity:1;top:0%;} 
}