@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {height: 100%;}
body {
  font-family: "Raleway", sans-serif;
  background: #d7d7d7;
  /* background-image: linear-gradient(40deg, #d7d7d7 30%, #000 45%); */
  /* temporary */
  /* overflow-y: hidden;  */
}

/* navbar */
.hamburgerMenu {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  height: 60px;
  background: url('../public/images/hamburger_menu_dark.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
  cursor: pointer;
}
.hamburgerMenu.active {
    background: url('../public/images/hamburger_menu_dark.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left;
}
.topnav {
  display: flex;
  flex-direction: row;
}
div.favicon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-basis: 75%;
}
div.favicon img {
    width: 50px;
    height: 50px;
}
.topnav .links {
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 35%;
    padding: 0%;
}
.topnav .links.active {
  animation:load_up 0.75s forwards;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  height: 30vh;
  border-radius: 14px;
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}
.topnav .links a {
    font-weight: 700;
    text-decoration: none;
    color: #000f;
}
.topnav .links.active li {
  width: max-content;
}
.topnav .links a:hover {
  background: #ffffff;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: #000
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  z-index: -1;
}
.hero p.bigger {
  font-weight: 700;
  font-size: 30px;
}
.hero p.smaller {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0%;
}
.hero span {
  color: gray;
  font-size: 15px;
  justify-content: center;
  display: flex;
}
.heroText {
  animation:load_up 2.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroImage {
  z-index: -1;
  display: flex;
  flex-direction: row;
}
.heroImage img {
  animation:load_up 2.5s forwards;
  width: 90%;
  height: 100%;
}
@keyframes load_up{
  from{opacity:0;top:100%}
  to{opacity:1;top:0%;} 
}


/* desktop responsiveness */
@media screen and (min-width: 750px) {
  body {
    background-image: linear-gradient(110deg, #d7d7d7 50%, #000 50%);
    background-repeat: no-repeat;
  }
  .hero {
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .hero p.smaller {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 0%;
      margin-left: 10%;
  }
  .hero p.bigger {
      font-weight: 700;
      font-size: 40px;
  }
  .topnav .links {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
  }
  .topnav .links li a {
    color: #fff;
  }
  .links li:hover {
    background: white;
    border-radius: 5em;
    padding: 5px;
    color:#000
  }
  .hamburgerMenu {
    display: none;
  }
}